@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{font-family: sans-serif; list-style: none; text-decoration: none; margin: 0; padding: 0;}
body{color: #21489d; background-color: #f8f8f8;}
body::-webkit-scrollbar {width: 6px;}
body::-webkit-scrollbar-track {background: transparent;}
body::-webkit-scrollbar-thumb {background-color: #f14b3d;}

#items-menu{display: flex; align-items: center;}
#user{cursor: pointer;}
h1{font-size: 5em; padding: 5% 0%;}
p{font-size: 1em;}
a{color: currentColor;}
.part3{margin: 5% 8%; display: flex; align-items:center ;}
.part3 p{font-family: 'Noto Sans Mono', monospace; font-size: 18px; margin-bottom: 5%;}

#hl li a{font-family: 'Noto Sans Mono', monospace; font-size: 30px; color: #f14b3d; border-left: solid 4px #f14b3d;}

@media only screen and (max-width: 1015px) {
    h1{font-size: 4em; padding: 2% 0%;}
    .registrar{font-size: 20px; padding: 6px 10px; margin-top: 1%;}
    img{display: none;}

}

@media only screen and (max-width: 800px) {
  #hl, #user, .menu{display: none;}
  h1{font-size: 3em;}
  .article-title{font-size: 25px;}
  .registrar{margin-top: 2%; border: navajowhite; border-bottom: 2px solid;}
}