#contentOng h1{font-size: 5em; padding: 5% 0%;}
#contentOng p{font-size: 1em;}
#contentOng a{color: currentColor;}
.part3{margin: 5% 8%; display: flex; align-items:center ;}
.part3 p{font-family: 'Noto Sans Mono', monospace; font-size: 18px; margin-bottom: 5%;}

#contentOng .registrar{background-color: #f8f8f8; color: #21489d; border: 2px solid #21489d; font-size: 20px; padding: 12px 20px; font-family: 'Source Sans Pro', sans-serif; transition: background-color, color 0.3s;}
#contentOng .registrar:hover{background-color: #21489d; color: #f8f8f8; cursor: pointer;}

#contentOng hl li a{font-family: 'Noto Sans Mono', monospace; font-size: 30px; color: #f14b3d; border-left: solid 4px #f14b3d;}

@media only screen and (max-width: 1015px) {
    h1{font-size: 4em; padding: 2% 0%;}
    .registrar{font-size: 20px; padding: 6px 10px; margin-top: 1%;}
    img{display: none;}
}

@media only screen and (max-width: 800px) {
  #hl, #user, .menu{display: none;}
  h1{font-size: 3em;}
  .article-title{font-size: 25px;}
  .registrar{margin-top: 2%; border: navajowhite; border-bottom: 2px solid;}
}