footer {
  width: 100%;
  height: 50px;
  margin-top: -4px;

  display: flex;
  justify-content: space-around;
  position: flex;
  left: 0;
  bottom: 0;

  background-color: #f14b3d;
  color: #f8f8f8;
}

#footer .text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

#footer .icon {
  background-color: #f14b3d;
  border: none;
  color: #f8f8f8;
  padding: 0px 10px;
}
#footer .icon:hover {
  filter: opacity(75%);
}
#footer button {
  background-color: transparent;
  border: transparent;
  color: currentColor;
}

@media only screen and (max-width: 800px) {
  #footer footer {
    margin-top: -6px;
    width: auto;
  }
  #footer .icon {
    display: none;
  }
}
