#nav .menu{display: flex; justify-content: space-between; padding: 4% 6% 0% 6%; align-items: center;}
#nav .menu li a{padding: 0px 25px; color: #21489d;}

#logo li a{font-family: 'Noto Sans Mono', monospace; font-size: 30px; color: #f14b3d; border-left: solid 4px #f14b3d;}

#items-menu{display: flex; align-items: center;}
#user{cursor: pointer;}

#nav .grifo{border-bottom: 2px solid transparent; transition: 0.1s;}
#nav .grifo:hover{border-bottom: 2px solid #21489d;}
