.main{margin: 5% 8%; display: flex; align-items: center; justify-content: space-around;}
#contentMain h1{font-size: 5em; padding: 5% 0%;}
#contentMain p{font-size: 1em;}
#contentMain a{color: currentColor;}
.part1{display: flex; align-items: center; margin: 5% 9%;}
.part1 h2{font-size: 50px; padding: 5% 0%;}
.part1 p{font-family: 'Noto Sans Mono', monospace; font-size: 18px;}

#contentMain .registrar{background-color: #f8f8f8; color: #21489d; border: 2px solid #21489d; font-size: 20px; padding: 12px 20px; font-family: 'Source Sans Pro', sans-serif; transition: background-color, color 0.3s;}
#contentMain .registrar:hover{background-color: #21489d; color: #f8f8f8; cursor: pointer;}

@media only screen and (max-width: 1015px) {
    .main{display:block; margin: 3% 8%;}
    .main img{display: initial; width: 100%; margin-top: 2%;}
    h1{font-size: 4em; padding: 2% 0%;}
    .part1{display: block; margin: 5% 8%;}
}

@media only screen and (max-width: 800px) {
  h1{font-size: 3em;}
  .part1 h2{font-size: 2em;}
  .registrar{margin-top: 2%; border: navajowhite; border-bottom: 2px solid;}
  }