h1{font-size: 5em; padding: 5% 0%;}
p{font-size: 1em;}
a{color: currentColor;}
.part2{margin: 0% 8%; display: flex; align-items:center;}
.part2 h2{font-size: 50px; padding: 5% 0%;}
.part2 p{font-family: 'Noto Sans Mono', monospace; font-size: 18px;}

@media only screen and (max-width: 1015px) {
    .part2{display: block; margin: 5% 8%}
    .part2 img{display: initial; width: 100%;}
}